<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSheet.css') }}">
    <title>Job Application tracker</title>
</head>
<body>
    <div id= "searching_div">
        <div id="searching">
            <search>
                <label>
                    Search Job:<br>
                    <input type="search" id = "query"/>
                </label>
            </search>
        </div>
        <div id="data_viewing">
            <p>Statistics</p>
            <div>
                <div class="stat-card">
                    <h3>Applied</h3>
                    <p>{{ applied }}</p>
                </div>
                <div class="stat-card">
                    <h3>Rejected</h3>
                    <p>{{ rejected }}</p>
                </div>
                <div class="stat-card">
                    <h3>Interviewed</h3>
                    <p>{{ interviewed }}</p>
                </div>
            </div>
        </div>
        <div id="gui">
        <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </div>
    <div>
        <table>
            <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
