<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="C:\Users\dunca\OneDrive\Documents\GitRepos\app tracker web\styleSheet.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application tracker</title>
</head>
<body>
    <div id= "searching">
        <div id="searching">
            <search>
                <label>
                    Search Job:<br>
                    <input type="search" id = "query"/>
                </label>
            </search>
        </div>
        <div id="data_viewing">
            <p>Statistics</p>
            <div>
                <p>applied: {{ applied }}</p>
                <p>Rejected: {{ Rejected }}</p>
                <p>Interviewed: {{ Interviewed }}</p>
            </div>
        </div>
        <div id="gui">
        <p></p>
        </div>
    </div>
</body>
</html>
